{% extends "base.html" %}
{% load static %}
{% block content %}
<main>
    <div class="schedule-container">
        <!-- <div class="form-flex">
            <form action="/status/" method="post">
                {% csrf_token %}
                {{ form }}
                <input class="button" name="submit_button" type="submit" value="Post">
            </form>
        </div> -->
        <div class="table-container">
            <div class="title-container">
                <div class="title">Books List</div>
                <span class="title">Favorites: <span id="counter">0</span></span>
            </div>
            <table class="book-table">
                <thead>
                    <tr>
                        <th scope="col">No.</th>
                        <th scope="col">Image</th>
                        <th scope="col">Title</th>
                        <th scope="col">Authors</th>
                        <th scope="col">Publishers</th>
                        <th scope="col">Published Date</th>
                        <th scope="col">Favorite</th>
                    </tr>
                </thead>
                <tbody id="book-data">
                </tbody>
            </table>
        </div>
    </div>
</main>
<script src="{% static 'book.js' %}"> </script>
{% endblock %}