{% load static %}

<!doctype html>
<html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Bunga Amalia Kurniawati's Home</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" media="screen" href="{% static "main.css" %}"/>
        <script type="text/javascript" src="{% static "jquery-3.3.1.min.js" %}"></script> 
    </head>

    <body class="body-dark" onload="loading()">
        <div id="loader"></div>
        <div id="overlay"></div>
        {% include "header.html" %}
        {% block content %}{% endblock %}
        {% include "footer.html" %}
    </body>

</html>