{% extends "base.html" %}
{% load static %}
{% block content %}
<main>
    <div class="schedule-container">
        <div class="form-flex">
            <form action="/status/" method="post">
                {% csrf_token %}
                {{ form }}
                <input class="button" name="submit_button" type="submit" value="Post">
            </form>
        </div>
        <div class="event-container">
            {% for item in status %}
            <div class="event-flex">
                <div class="status-container">
                    <div class="status">{{ item.content }}</div>
                    <div class="name">{{ item.date }}</div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% comment %} <form action="/delete-all/">
            {% csrf_token %}
            <input class="button" type="submit" value="Delete All Status">
        </form> {% endcomment %}
    </div>
</main>
<script src="{% static 'about.js' %}"> </script>
{% endblock %}